<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Web Dev Day 1: HTML</title>
    <style>
    #main-header {
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px;
    }
    </style>
</head>
<body>
    <!-- Headings -->
    <header id="main-header">
        <h1>Welcome to My Web Portfolio</h1>
    </header>
    <h2>My name is Samuel Tomas Izrael</h2>
    <h3>Let's get started in:</h3>
    <h4></h4>
    <h5>2</h5>
    <h6>1</h6>

    <!-- Buttons -->
    <a href="blog.html">
        <button>Click me to visit blog</button>
    </a>
    <br>

    <!-- Paragraphs -->
    <p>
        This is the start of <em><strong> my journey into web development</strong></em>. I need to build a functional website for a school project.
        I wasn’t really a fan of what we were doing in school, so I decided that I want to do it on my own and in my own way.
    </p>
    <p>
        At some point I told myself that I’d create my own web portfolio where I can train and try things out. And once I get the
        hang of it, I’ll make the actual <strong>school project</strong> — a website called
        <a href="https://github.com/SamueLL723/RacePredictorGP" target="_blank">RacePredictorGP</a>. So basically, this page is just for testing and learning.
    </p>
    <p>
        I have no idea how to actually build it, but with the help of AI I got a rough idea of what tools I want to use.
        The only problem is that I’ve never used some of the tools it recommended to me. So I asked it how to start.
        It gave me a daily plan of what I need to do so that I’ll be able to build a functional website — a 13-day plan.
        So let’s see how it goes and how well I’ll do.
    </p>
    <br>

<!-- Lists -->
    <h3>Technologies I'm going to use and learn</h3>
    <ul>
        <li>HTML5 – the basic structure of the website</li>
        <li>CSS / Bootstrap – styling and making the site responsive</li>
        <li>Node.js + Express.js – my backend setup</li>
        <li>PostgreSQL – the relational database I'll be working with</li>
    </ul>
    <br>

    <h3>Daily Plan</h3>
    <ol>
        <li>HTML</li>
        <li>Bootstrap</li>
        <li>CSS</li>
        <li>JavaScript</li>
        <li>JavaScript</li>
        <li>JavaScript</li>
        <li>DOM</li>
        <li>fetch() / AJAX</li>
        <li>Node.js</li>
        <li>Express.js routing + MVC </li>
        <li>EJS</li>
        <li>PostgreSQL + Node</li>
        <li>Login + Registration system</li>
    </ol>

    <br>
    <hr>
    <br>


<!-- tables -->
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Surname</th>
                <th>Email</th>
                <th>Age</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Samuel Tomas</td>
                <td>Izrael</td>
                <td>samuel.tomas.izrael@gmail.com</td>
                <td>23</td>
            </tr>
            <tr>
                <td>Im</td>
                <td>Autistic</td>
                <td>autistic@gmail.com</td>
                <td>12</td>
            </tr>
        </tbody>
    </table>

    <br>
    <hr>
    <br>

    <!-- Forms -->
    <form method="post">
        <div>
            <label>
                First name
                <input type="text" name="firstName" placeholder="Enter first name">
            </label>
        </div>
        <br>

        <div>
            <label>
                Last name
                <input type="text" name="lastName"  placeholder="Enter last name">
            </label>
        </div>
        <br>

        <div>
            <label>
                Email
                <input type="email" name="email" value =@gmail.com>
            </label>
        </div>
        <br>

        <div>
            <label>
                Message
                <textarea name="message" placeholder="Write anything you want"></textarea>
            </label>
        </div>
        <br>

        <div>
            <label>
                Gender
                <select name="gender">
                    <option value="male">Male</option>
                    <option value="female">female</option>
                    <option value="other">other</option>
                </select>
            </label>
        </div>
        <br>

        <div>
            <label>
                Age
                <input type="number" name="age" value="23">
            </label>
        </div>
        <br>

        <div>
            <label>
                Birthday:
                <input type="date" name ="birthday"></label>
        </div>
        <br>

        <input type="submit" name="submit" value="Submit">
        
    </form>
    <br>
    <br>

    <!-- images -->
    <a href="../assets/images/MeInSpain.jpg">
        <img src="../assets/images/MeInSpain.jpg" alt="my sample image" width="200">
    </a>

    <!-- quotations -->
    <blockquote cite="https://genius.com/System-of-a-down-lonely-day-lyrics">
        Such a lonely day and it's mine The most loneliest day of my life Such a lonely day should be banned It's a day
        that I can't stand The most loneliest day of my life The most loneliest day of my life Such a lonely day shouldn't
        exist It's a day that I'll never miss Such a lonely day and it's mine The most loneliest day of my life
        <abbr title="And if you go, I wanna go with you">AIYGIWGWY</abbr>
        <abbr title="And if you die, I wanna die with you">AIYDIWDWY</abbr>
        Take your hand and walk away The most loneliest day of my life The most loneliest day of my life The most loneliest
        day of my life Such a lonely day and it's mine It's a day that I'm glad I survived
    </blockquote>

    <p>This HTML was created by  <a href="https://www.youtube.com/watch?v=UB1O30fR-EE"><cite >HTML Crash Course For Absolute Beginners</cite></a> by Brad Traversy</p>
</body>
</html>